<footer class="footer py-2" id="footer-section">
    <div class="container grid grid-3">
        <div>
            <h1>JEE Rank Analyzer</h1>
            <p>Copyright &copy; 2023</p>
        </div>
        <nav>
            <ul>
                <li class="list-item"><a href="/index">Home</a></li>
                <li class="list-item"><a href="/about-us">About Us</a></li>
            </ul>
        </nav>
        <div class="social">
            <a href="#"><i class="fab fa-github fa-2x"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>
</footer>
