<body>
    <nav class="navbar bg-dark text-light">
        <div class="wrapper">
            <div id="site-name">
                JEE Rank Analyzer
            </div>
            <ul class="links">
                <li class="link-items"><a href="/">Home</a></li>
                <li class="link-items"><a href="/about-us">About Us</a></li>
            </ul>
        </div>
    </nav>