<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<section>
    <div class="row">
       <div class="column">
            <div class="person">
                <div class="image_container">
                    <img src="/imgs/kj2.jpg" alt="KJ_Photo">
                </div>
                <h3>Kalpesh Jadhav</h3>
                <p>M.Tech, IIT Guwahati</p>
                <div class="social">
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="person">
                <div class="image_container">
                    <img src="/imgs/kp2.jpg" alt="KP_Photo">
                </div>
                <h3>Krunal Patel</h3>
                <p>M.Tech, IIT Guwahati</p>
                <div class="social">
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="person">
                <div class="image_container">
                    <img src="/imgs/ppn.jpg" alt="PPN_Photo">
                </div>
                <h3>Partha Pratim Nath</h3>
                <p>M.Tech, IIT Guwahati</p>
                <div class="social">
                    <a href="#"><i class="fab fa-github fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
            </div>
        </div>


    </div>
</section>

<%- include('./includes/footer.ejs') %>


</body>
</html>