<!-- <%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<h1 class="flex text-secondary">Cannot find the page you are looking for!</h1>

<%- include('./includes/footer.ejs') %> -->

<h3>Error 404: Cannot find the page you are looking for.</h3>